<<<<<<< HEAD
body {
    margin: 0px;
    background-color: rgb(157, 224, 236);
    overflow: hidden;
=======
body {
    margin: 0px;
    background-color: rgb(157, 224, 236);
    overflow: hidden;
>>>>>>> 4d8cd555819b27beeb9ff6d8b7fb7564489bc2f9
}